// Titulo: Contenedor Botones descargar

.btn-down {
    @include flexBox(
        $justify-content: flex-start,
        $align-items: center,
    );

    @include md {
        flex-wrap: wrap;
    }

    &.pdf-3{
        @include flexBox(
            $flex-wrap: wrap,
        );

            .card-title {
                @include flexBox(
                    $flex: 1 100%,
                );
                width: 100%;
            }

    }

    .card-title {
        padding: 0.3rem 0.6rem 0.3rem 0;
        margin: 0;
        line-height: 100%;
        font-size: 1rem;

        @include md {
            display: flex;
            flex: 0 100%;
        }
    }

    .cont-btn {
        display: flex;
        margin: 0 23px 0 0;


        .icon {
            margin: 0 10px 0 0;
        }

        .txt-btn {
            font-size: 0.9rem;
            color: cO(txtGris80);
        }
    }
}