.card-invertir {
    .amount-main{
      margin: 1rem 0 0 0;
      @include flexBox(
        $flex-flow: wrap,
      );
      
      .text-amount{
        padding: 0 1.5rem;

          &:first-child{
            padding-left:0;
          }

          &:last-child{
            padding-right:0;
          }
          @include sm{
            @include flexBox($flex: 1 50%);
            padding:0;  
          }

          @include xs{
            @include flexBox($flex: 1 100%);
          }
        }

      .monto-inv .txt-detail{

        @include sm{
          font-size: $fs7;
        }
          
      }
    }
    
  }