html {
    width: 100%;
    height: 100%;
    @include css3(text-size-adjust, 100%)

   
}
html.plt-desktop{
    overflow:auto;

    body{
        overflow:auto;
    }
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
    word-wrap: break-word;
    overscroll-behavior-y: none;
    background-color: #f9fafb !important;
    @include css3(text-size-adjust, none);
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    font-family: '#{$fontBar}', Arial, sans-serif;
    font-style: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}

html[data-browser*="rv:11.0"]{
     body{
         background-color: #dedede!important;
     }

     .etype:hover{
        background-color: cO(coLightGray, 0.15) !important;
      }

      .usr-ctn:hover{
            background-color: cO(coLightGray, 0.4) !important;
          }
    .card-gen{
        @include css3(box-shadow, 0 4px 16px 0 rgba(0, 0, 0, 0.2) !important);
    }

  }

//   @supports (-webkit-touch-callout: none) {
//     .select-series {
//         background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
//         -moz-appearance: none; 
//         -webkit-appearance: none; 
//         appearance: none;
//     }
//   }