
//ACORDEON
  @include keyframes(slide-down) {
    0% { max-height: 0;}
    100% { max-height:700px;}
  }
  @include keyframes(slide-up) {
    100% { max-height: 700px;}
    0% { max-height:0px;}
  }
  .slide-down{
    //@include animation('slide-up 1s');
    @include css3(transition, all 0.5s ease-in-out 0s);
    overflow: hidden;
    max-height: 0;
    position: relative;

      &.toggled{
          //@include animation('slide-down 1s');
          max-height: 10000px;
        }
  }


//ZOOM IN / Tooltips
  @include keyframes(zoom-in) {
    0% {  opacity:0; 
          transform: translate(15px, 0px);
          }
    100% { opacity:1; 
          transform: translate(0, 0px);}

  }


  

  *:hover .zoom-in{
      @include animation('zoom-in 0.3s');
  }
  

//Animation Tabs
.ani-tab{
  position:relative;

  &:after {
    content: '';
    display: block;
    height: .2rem;
    width: 0;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out .2s;
  }

  &:hover:after{
    background-color: rgba(83, 86, 90,.2);
    width: 100%;  
    }
  
  &.active{
    &:hover:after, &:after{
      background-color: cO(coAqua);
      width: calc(100% - 2px); 
      }
  }

}


